h1{
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid red;
    margin: 0;
    padding: 20px;
    color: gray;
}
#grid ol{
    border-right: 1px solid red;
    margin: 0;
    padding: 20px;
    width: 300px;
    color: gray;
    padding-left: 33px;
    line-height: 30px;
}
a{
    color: gray;
    text-decoration-line: none;    
}
body{
    background-color: #36454f;
    margin: 0;
}
p{
    color: gray;
}
#grid{
    display: grid;
    grid-template-columns: 350px 1fr;
}
#grid #article{
    padding-left: 25px;
}
li{
    color: gray;
}
#article p{
    line-height: 30px;
}
#article a{
    margin: 10px;
}